SECRET_KEY=<your secret key>
SECURITY_PASSWORD_SALT=<your password salt>
SQLALCHEMY_DATABASE_URI=<location of the database>
# These are only important for password reset emails
EMAIL_USER=<email address>
EMAIL_PASS=<password of the email account>